<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset='utf-8'>
<title>Lista de Filmes</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>
<body>

	<header>
		<div align="center" style="margin-bottom: 40px">
			<h1>Lista de Filmes</h1>
		</div>
	</header>

	<div class="row ">
		<div class="col-md-3">
			<h3 style="margin-bottom: 40px">
				<a href="cadastrarFilme" type="button" class="btn btn-primary">CadastrarFilmes</a>
			</h3>
			<div>
				<form th:action="@{/consultarFilme}">
					<div class="form-group">
						<label for="nomeFilme"></label> <input type="search"
							class="form-control" value="" th:name="nomeFilme"
							placeholder="Ex: 'Annabelle'">
					</div>
					<button class="btn btn-primary">Consultar</button>
				</form>

			</div>

		</div>
		<table class="container table col-md-9">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>Filmes</th>
					<th>Detalhe</th>
					<th>Ação</th>
					<th>Locar</th>
					<th>Dar Baixa</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="filme:${filmes}">
					<td><span th:text="${filme.codigo}"></span></td>

					<td><a
						th:href="${(#mvc.url('FC#detalhesFilme').arg(0, filme.codigo)).build()}"><span
							th:text="${filme.filme}"> </span></a></td>

					<td><a class="btn btn-primary"
						th:href="${(#mvc.url('FC#detalhesFilme').arg(0, filme.codigo)).build()}">
							Detalhe</a></td>

					<td><a
						th:href="${(#mvc.url('FC#editarFilme').arg(0, filme.codigo)).build()}"
						type="button" class="btn btn-primary">Editar</a> <a
						th:href="${(#mvc.url('FC#deletarFilme').arg(0, filme.codigo)).build()}"
						type="button" class="btn btn-primary">Excluir </a></td>
					<td><a
						th:href="${(#mvc.url('FC#locacaoFilme').arg(0, filme.codigo)).build()}"
						type="button" class="btn btn-primary">Locar</a></td>

					<td><a
						th:href="${(#mvc.url('FC#DarBaixaFilme').arg(0, filme.codigo)).build()}"
						type="button" class="btn btn-primary">Dar Baixa</a></td>
				</tr>

			</tbody>
		</table>

	</div>

	<div th:replace="fragments/alert"></div>
</body>
</html>